<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team.base.module.mapper.sys.role.RoleMapper">

    <sql id="roleColumns">
        a.ID AS "id",
        a.ROLE_NAME AS "roleName",
        a.ROLE_CODE AS "roleCode",
        a.ROLE_DESC AS "roleDesc",
        a.CREATE_ID AS "createId",
        a.CREATE_DATE AS "createDate",
        a.UPDATE_ID AS "updateId",
        a.UPDATE_DATE AS "updateDate",
        a.DEL_FLAG AS "delFlag"
    </sql>

    <select id="get" resultType="com.team.base.module.entity.sys.role.Role">
        SELECT
        <include refid="roleColumns"/>
        FROM sys_role a
        WHERE a.ID = #{id}
    </select>

    <select id="findList" resultType="com.team.base.module.entity.sys.role.Role">
        SELECT
        <include refid="roleColumns"/>
        FROM sys_role a
        <where>
            a.DEL_FLAG = '0'
            <if test="roleName != null and roleName != ''">
                AND a.ROLE_NAME LIKE CONCAT('%', #{roleName}, '%')
            </if>
            <if test="roleCode != null and roleCode != ''">
                AND a.ROLE_CODE LIKE CONCAT('%', #{roleCode}, '%')
            </if>
        </where>
        ORDER BY a.CREATE_DATE DESC
    </select>

    <select id="getRoleSelectList" resultType="com.team.base.module.entity.sys.role.RoleSelect">
        SELECT
            a.ID AS "value",
            a.ROLE_NAME AS "label"
        FROM sys_role a
    </select>

    <insert id="insert">
        INSERT INTO sys_role
        (
        ID,
        ROLE_NAME,
        ROLE_CODE,
        ROLE_DESC,
        CREATE_ID,
        CREATE_DATE,
        UPDATE_ID,
        UPDATE_DATE,
        DEL_FLAG
        )
        VALUES
        (
        #{id},
        #{roleName},
        #{roleCode},
        #{roleDesc},
        #{createId},
        #{createDate},
        #{updateId},
        #{updateDate},
        #{delFlag}
        )
    </insert>

    <update id="update">
        UPDATE sys_role
        <set>
            <if test="id != null and id != ''">
                ID = #{id},
            </if>
            <if test="roleName != null and roleName != ''">
                ROLE_NAME = #{roleName},
            </if>
            <if test="roleCode != null and roleCode != ''">
                ROLE_CODE = #{roleCode},
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                ROLE_DESC = #{roleDesc},
            </if>
            <if test="createId != null and createId != ''">
                CREATE_ID = #{createId},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate},
            </if>
            <if test="updateId != null and updateId != ''">
                UPDATE_ID = #{updateId},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate},
            </if>
            <if test="delFlag != null and delFlag != ''">
                DEL_FLAG = #{delFlag}
            </if>
        </set>
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM sys_role
        WHERE ID = #{id}
    </delete>

    <update id="deleteByLogic">
        UPDATE sys_role
        SET DEL_FLAG = '1'
        WHERE ID = #{id}
    </update>

</mapper>