<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team.base.module.mapper.sys.roleUser.RoleUserMapper">

    <sql id="roleUserColumns">
        a.ID AS "id",
        a.ROLE_ID AS "roleId",
        a.USER_ID AS "userId",
        a.CREATE_ID AS "createId",
        a.CREATE_DATE AS "createDate",
        a.UPDATE_ID AS "updateId",
        a.UPDATE_DATE AS "updateDate",
        a.DEL_FLAG AS "delFlag"
    </sql>

    <select id="get" resultType="com.team.base.module.entity.sys.roleUser.RoleUser">
        SELECT
        <include refid="roleUserColumns"/>
        FROM sys_role_user a
        WHERE a.ID = #{id}
    </select>

    <select id="findList" resultType="com.team.base.module.entity.sys.roleUser.RoleUser">
        SELECT
        <include refid="roleUserColumns"/>
        FROM sys_role_user a
        <where>
            a.DEL_FLAG = '0'
            <if test="roleId != null and roleId != ''">
                AND a.ROLE_ID = #{roleId}
            </if>
            <if test="userId != null and userId != ''">
                AND a.USER_ID = #{userId}
            </if>
        </where>
        ORDER BY a.UPDATE_DATE DESC
    </select>

    <select id="getRoleUserByUserId" resultType="com.team.base.module.entity.sys.roleUser.RoleUser">
        SELECT
        <include refid="roleUserColumns"/>
        FROM sys_role_user a
        WHERE a.USER_ID = #{userId}
    </select>

    <select id="getUserIdListByRoleId" resultType="java.lang.String">
        SELECT
        a.USER_ID
        FROM sys_role_user a
        WHERE a.ROLE_ID = #{roleId}
        ORDER BY a.UPDATE_DATE DESC
    </select>

    <insert id="insert">
        INSERT INTO sys_role_user
        (
        ID,
        ROLE_ID,
        USER_ID,
        CREATE_ID,
        CREATE_DATE,
        UPDATE_ID,
        UPDATE_DATE,
        DEL_FLAG
        )
        VALUES
        (
        #{id},
        #{roleId},
        #{userId},
        #{createId},
        #{createDate},
        #{updateId},
        #{updateDate},
        #{delFlag}
        )
    </insert>

    <update id="update">
        UPDATE sys_role_user
        <set>
            <if test="id != null and id != ''">
                ID = #{id},
            </if>
            <if test="roleId != null and roleId != ''">
                ROLE_ID = #{roleId},
            </if>
            <if test="userId != null and userId != ''">
                USER_ID = #{userId},
            </if>
            <if test="createId != null and createId != ''">
                CREATE_ID = #{createId},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate},
            </if>
            <if test="updateId != null and updateId != ''">
                UPDATE_ID = #{updateId},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate},
            </if>
            <if test="delFlag != null and delFlag != ''">
                DEL_FLAG = #{delFlag}
            </if>
        </set>
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM sys_role_user
        WHERE ID = #{id}
    </delete>

    <update id="deleteByLogic">
        UPDATE sys_role_user
        SET DEL_FLAG = '1'
        WHERE ID = #{id}
    </update>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_user
        WHERE ROLE_ID = #{roleId}
    </delete>

</mapper>